body {
font-family: 'poppins',sans-serif;
}


.top-part{

    display: flex;
    margin-bottom: 50px;
}

.half-weight  {
    width: 30 px;
    padding: 3%;

}

.half-weight img {
    width: 500px;
    
}

.orange-clor {
color: orange;
}



.more {
    text-decoration: none;

    background-color: orange;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 20px ;
    border-radius: 5px;
    color: white
}
 .experience{
    display: flex;

 }


.experience-item {
    width: 30%;
    margin-left: 3%;
    margin-block-end: 3%;
    box-shadow:  10px 10px 10px grey;
    border-radius: 10px ;
    padding-left: 10px ;
    padding-right: 5px ;
}

#fulll {border-left: 7px solid blue;}

#mern {border-left: 7px solid yellow;}

#web {border-left: 7px solid red;}


footer p {
    text-align: center;
}